# Excluding dummy notebooks and checkpoints
testing*.ipynb
.ipynb_checkpoints

# Ignoring PyCache files
__pycache__/

# Ignoring editor files
.vscode/
.idea/

# Ignoring data folder
data/

# Ignoring the tensorboard results
runs/

# Ignoring important project documents
docs/

# Ignoring build files
*.egg-info/